.app {
  padding: 0 2rem;
}

.header {
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px solid #888;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.title {
  margin: 0;
}

.body {
  max-width: 30rem;
}

@media only screen and (max-width: 33rem) {
  .app {
    padding: 0 0.25rem;
  }
}